---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <br /> <span style="font-size: 20px;color: #0006;"> {{ site.course_semester }} </span>
    </h1>
    {% include announcements.html %}
    <br />
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>

    {{ content }}

    <br />
    <br />
    
    <h2>Previous Offering</h2>
    <p><a href="https://lcs2.in/ml2401" target="_blank">MACHINE INTELLIGENCE & LEARNING - ELL409 (Fall 2024)</a></p>
    
    <h2>Logistics</h2>
    <ul>
        <li>Timings: Slot A (Monday, Thursday: 08:00 AM - 09:30 AM)</li>
        <li>Office Hours: TBD</li>
        <li>Classroom: LH-114</li>
        <li>News and announcements: All the news and announcements will be posted on Piazza.</li>
        <li>Piazza link: Sign up for <a href="https://piazza.com/iit_delhi/fall2025/ail7024" target="_blank">this class</a> on Piazza. Students are encouraged to ask questions and participate in discussions!</li>
        <li>Assignment submission: All assignments should be submitted on Moodle.</li>
    </ul>

    <br />
    <br />
    
    <h2>Assessment Plan (Tentative)</h2>
    <ul>
        <li>Minor: 20%</li>
        <li>Major: 30%</li>
        <li>Quizzes (Best 2 out of 3): 20%</li>
        <li>1 x Assignment: 10%</li>
        <li>1 x Project-Based Assignment: 20%</li>
    </ul>
    <b>Audit Policy:</b> A minimum of B- grade

    <br />
    <br />
    
    <h2>TA Availability</h2>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td><b>Time</b></td>
            <td><b>Contact</b></td>
        </tr>
        <tr>
            <td>Sahil&nbsp;&nbsp;</td>
            <td>Tue@3-4&nbsp;&nbsp;</td>
            <td><a href="mailto:sahil.mishra@ee.iitd.ac.in">sahil.mishra@ee.iitd.ac.in</a></td>
        </tr>
        <tr>
            <td>Sudipto&nbsp;&nbsp;</td>
            <td>Wed@4-5&nbsp;&nbsp;</td>
            <td><a href="mailto:sudipto.ghosh@scai.iitd.ac.in">sudipto.ghosh@scai.iitd.ac.in</a></td>
        </tr>
    </table>

    <br />
    <br />

    <div>
        <div style="width:40%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructor</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <br />
        <br />

        <div style="width:60%; float: right">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
